h1,
p {
  margin: 0;
}

.header {
  padding-top: 45px;
}

.header__logo {
  display: flex;
  width: 173px;
  height: 33px;
}

.header__line {
  margin: 0 auto;
  padding-top: 41px;
  width: 95vw;
  object-fit: fill;
}

@media screen and (max-width: 879px) and (min-width: 320px) {
  .header {
    padding-top: 28px;
    width: 320px;
  }

  .header__logo {
    display: flex;
    padding-left: 27px;
    width: 126px;
    height: 24px;
  }

  .header__line {
    margin: 0 auto;
    padding-top: 32px;
    width: 320px;
    object-fit: fill;
  }
}

@media screen and (max-width: 319px) {
  .header {
    width: 100vw;
  }

  .header__logo {
    width: 100vw;
  }

  .header__line {
    width: 100vw;
  }
}
