.popup {
  /*display: none;*/
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  opacity: 1;
  display: flex;
}

.popup__close-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: transparent;
  border: none;
  top: -42px;
  left: 435px;
}

.popup__close-icon:hover {
  cursor: url(../images/icons/pointer.svg), auto;
  filter: opacity(0.5);
}

.popup__close-icon-image {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: transparent;
  border: none;
  top: -45px;
  left: 437px;
}

.popup__close-icon-image:hover {
  cursor: url(../images/icons/pointer.svg), auto;
  filter: opacity(0.5);
}

.popup__container {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  border: 1px solid #888;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  color: black;
}

.popup__container-image {
  position: relative;
  margin: 5% auto;
  width: 430px;
}

.popup__container-confirmation {
  position: relative;
  background-color: #fff;
  margin: auto;
  border: 1px solid #888;
  width: 430px;
  height: 181px;
  border-radius: 10px;
  color: black;
}

.popup__container-edit-avatar {
  position: relative;
  background-color: #fff;
  margin: auto;
  border: 1px solid #888;
  width: 430px;
  height: 272px;
  border-radius: 10px;
  color: black;
}

.popup__image {
  width: 433px;
  height: 540px;
}

.popup__image-name {
  padding-top: 10px;
  color: white;
  font-weight: normal;
  font-size: 12px;
}

.popup__title {
  font-weight: bold;
  font-size: 24px;
  padding: 34px 64px 54px 36px;
  margin: 0 auto;
}

.popup__title-confirmation {
  margin: 0;
  padding: 34px 36px 38px;
}
.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup__form-confirmation {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 879px) and (min-width: 320px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }

  .popup__container-edit-avatar {
    width: 282px;
    height: 322px;
  }

  .popup__container-confirmation {
    width: 282px;
    height: 181px;
  }

  .popup__container-image {
    width: 240px;
    height: 300px;
  }

  .popup__close-icon {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -40px;
    left: 255px;
  }

  .popup__close-icon-image {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    left: 245px;
  }

  .popup__title {
    font-weight: bold;
    font-size: 18px;
    padding: 25px 22px 76px 22px;
    margin: 0 auto;
  }

  .popup__image {
    width: 240px;
    height: 300px;
  }
}
